<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CMS Application Test Automation Test Suite">

	<listeners>
		<listener class-name="cms.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="CMS App Test Cases">
		<classes>
			<class name="cms.testCases.VerifyMedicareLinkTest"></class>
			
			
		</classes>
	</test>
</suite>